[submodule "lib/idle"]
	path = lib/idle
	url = https://github.com/flaviotordini/idle
[submodule "lib/media"]
	path = lib/media
	url = /data/code/qt/minitube/lib/media
[submodule "lib/singleapplication"]
	path = lib/singleapplication
	url = git@github.com:itay-grudev/SingleApplication.git
