[Desktop Entry]
Categories=Application;Video
Comment=Cgtn live player
Exec=cgtn-live-player
GenericName=Cgtn player
Icon=cgtn-live-player
Name=Cgtn Live Player
StartupNotify=false
Terminal=false
Type=Application

# Translations
Comment[zh_CN]=Cgtn live player
GenericName[zh_CN]=央视外语频道
Name[zh_CN]=央视外语频道
