package: cgtn-live-player
version: 3.1.0
architecture: amd64
Maintainer: IMEVER <Hobart_Tian@imever.me>
description: Cgtn-live-player is a live video player for www.cgtn.com
Section: video
Priority: optional
Installed-Size:47
depends: gstreamer1.0-plugins-bad, libqt5multimedia5
