package: me.imever.cgtn-live-player
version: #VERSION#
architecture: amd64
Maintainer: IMEVER <Hobart_Tian@imever.me>
Section: video
Priority: optional
Installed-Size: #SIZE#
depends: libqgsttools-p1
description: 央视外语频道的播放器
