source: me.imever.cgtn-live-player
Pre-Depends: debhelper

package: me.imever.cgtn-live-player
version: #VERSION#
architecture: amd64
Maintainer: IMEVER <Hobart_Tian@imever.me>
Section: video
Priority: optional
Installed-Size: #SIZE#
Depends: ${shlibs:Depends}, libqgsttools-p1
Description: 央视外语频道的播放器, 支持多个央视和省电视台
 一款为Linux系统用户开发的央视电台播放器。
