package: cgtn-live-player
version: 3.2.0
architecture: amd64
Maintainer: IMEVER <Hobart_Tian@imever.me>
description: 央视外语频道的播放器
Section: video
Priority: optional
Installed-Size:
depends: libqgsttools-p1
